.SideBar {
    width: 120px;
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    background: #F5F5F5;
}
